
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px ;
  background-color: rgb(12, 9, 17);
  color:rgb(168, 168, 168)
  
}
.container{
  position: relative;
 padding: 28px 40px;
 color: rgb(192, 192, 192);
}
*{
  text-decoration: none;
  text-align:start;
  
}
th{
  color: rgb(208, 209, 127);
  font-size: 27px;
 
}
 .select-container{
  position: absolute;
  right: 34px;
  top:27px
  
 }
#data-length{
  width: 120px;
  height: 28px;
}
.sort{
  cursor: pointer;

}
.sort:hover{
  font-size: 28px;
  color: rgb(184, 154, 23);
}
 
tr:nth-child(2n){
  background-color: rgba(153, 148, 142, 0.089);
}
button{
  border-radius: 20px;
  border: none;
  height: 28px;
  text-align: center;
  vertical-align: auto;
  margin-right:9px ;
  font-size: 14px;
  background-color: rgb(223, 173, 81);
  
}
.custom-container{
  margin-top: 20px;
  display: flex;
  width: 600px;
}
.custom-container >label{
  margin-right: 12px;
}
.custom-container button{
  width: 100%;
}
